// Place all the styles related to the Requirements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.requirement-box {
  width: 150px;
  height: 175px;
  float: left;
  background: #FFF;
  margin: 5px;
  border-style: solid;
  border-width: 1px; 
  border-color: #CCC;
  border-radius: 3px;
  cursor: pointer;
}

.requirement-focus {
  width: 720px;
}

.requirement-box:hover {
  background: darken(#fff, 2.5%);
}

.bubble {
  color: #7E0001;
  width: 100%;
  padding: 2px;
  margin-top: 3px;
  text-align: center;
  font-size: 150%;
  font-weight: 400;
}

.characteristic {
  width: 100%;
  padding: 2px;
  text-align: center;
  font-size: 125%;
}

.dimension {
  width: 60%;
  height: 40%;
  padding: 2px;
  margin-top: 12.5%;
  float: left;
  text-align: center;
  font-size: 160%;
  font-weight: 400;
}

.toleranceup {
  padding: 5px;
  margin-top: 5%;
  font-size: 90%;
}
.tolerancedn {
  padding: 5px;
  margin-top: 0%;
  font-size: 90%;
}

.requirement-box-toolbar {
  padding: 2px;
  width: 100%;
  text-align: right;
  font-weight: 300;
  color: #C0C0C0
}